transformers
datasets
evaluate
torch
pandas
seaborn
parlai
accelerate
tqdm
widgetsnbextension
tensorboard
rouge_score
termcolor
evaluate

# faiss
mauve-text
sentencepiece
faiss-cpu
bitsandbytes
wheel
flash-attn
